<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/home_style.css">
</head>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery-3.1.1.js"></script>
<body>
<div id="div1"><!--设置主导航栏-->
    <ul class="nav1">
        <li><a href="#">网站首页</a></li>
        <li><a href="#">关于我们</a></li>
        <li><a href="#">命令调试</a></li>
        <li><a href="#">个人信息</a></li>
        <li><a href="#">联系我们</a></li>
        <li class="slide1"></li>
        <li class="slide2"></li>
    </ul>
</div>
<div><!--设置副导航栏-->
    <div class="nav2-main">
        <div class="nav2-box">
            <div class="nav2">
                <ul class="nav2-ul">
                    <li><a href="#" class="develop"><span>首页</span></a></li>
                    <li><a href="#" class="wechat"><span>Network</span></a></li>
                    <li><a href="#" class="case"><span>Wallet</span></a></li>
                    <li><a href="#" class="news"><span>信息资讯</span></a></li>
                    <li><a href="#" class="contact"><span>关于我们</span></a></li>
                </ul>
            </div>
            <div class="nav2-slide">
                <div class="nav2-slide-o"></div>
                <div class="nav2-slide-o">
                    <ul>
                        <li><a href="#"><span>getbestblockhash</span></a></li>
                        <li><a href="#"><span>getblock</span></a></li>
                        <li><a href="#"><span>getblockchaininfo</span></a></li>
                        <li id="2"><a href="#"><span>getblockcount</span></a></li>
                        <li id="1"><a href="#"><span>GetDifficulty</span></a></li>
                        <li><a href="#"><span>getblockhash</span></a></li>
                        <li><a href="#"><span>getblockheader</span></a></li>
                        <li><a href="#"><span>getblockstats</span></a></li>
                        <li><a href="#"><span>getchaintips</span></a></li>
                        <li><a href="#"><span>getchaintxstats</span></a></li>
                    </ul>
                </div>
                <div class="nav2-slide-o">
                    <ul>
                        <li><a href="#"><span>addnode</span></a></li>
                        <li ><a href="#"><span>clearbanned</span></a></li>
                        <li><a href="#"><span>disconnectnode</span></a></li>
                        <li><a href="#"><span>getaddednodeinfo</span></a></li>
                        <li><a href="#"><span>getconnectioncount</span></a></li>
                        <li><a href="#"><span>getnettotals</span></a></li>
                        <li><a href="#"><span>getnetworkinfo</span></a></li>
                        <li><a href="#"><span>getpeerinfo</span></a></li>
                    </ul>
                </div>
                <div class="nav2-slide-o">
                    <ul>
                        <li><a href="#"><span>abandontransaction</span></a></li>
                        <li ><a href="#"><span>abortrescan</span></a></li>
                        <li><a href="#"><span>addmultisigaddress</span></a></li>
                        <li><a href="#"><span>backupwallet</span></a></li>
                        <li><a href="#"><span>bumpfee</span></a></li>
                        <li><a href="#"><span>dumpprivkey</span></a></li>
                        <li><a href="#"><span>dumpwallet</span></a></li>
                        <li><a href="#"><span>getaddressinfo</span></a></li>
                        <li><a href="#"><span>getbalance</span></a></li>
                    </ul>
                </div>
                <div class="nav2-slide-o">
                    <ul>
                        <li><a href="#"><span>组长: 刘飞越</span></a></li>
                        <li><a href="#"><span>组员: 钟友村</span></a></li>
                        <li><a href="#"><span>组员: 秦梓航</span></a></li>
                        <li><a href="#"><span>组员: 夏易阳</span></a></li>
                        <li><a href="#"><span>组员: 陈浩亮</span></a></li>
                        <li><a href="#"><span>组员: 周承凯</span></a></li>
                        <li><a href="#"><span>组员: 何新萍</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div3" style="background-color: black; opacity: 0.7; height: 400px; width: 800px;position: fixed;margin-top: 50%;margin-left: 250px;color: white ">

</div>
</body>
<script src="../static/js/home.js"></script>
<script src="../static/js/home_script.js"></script>
<script src="../static/js/ajax.js"></script>
<script>

    //TODO 2020/12/28 第三次ajax测试失败

    var div1 = document.getElementById("1");
    var div2 = document.getElementById("2");
    var div3 = document.getElementById("div3");

    div1.onclick = function () {

        Ajax("GET", "http://127.0.0.1:8080/views/getBlockCount.html", function (xhr) {
                div3.innerHTML = xhr.responseText;

            }
            , function (xhr) {
                alert("请求失败")
            });
    };
    div2.onclick = function () {

        //$("#second").load("test.txt")
        Ajax("GET", "http://127.0.0.1:8080/views/test.txt", function (xhr) {
                div3.innerHTML = xhr.responseText;
            }
            , function (xhr) {
                alert("请求失败")

            });

    };
</script>
</html>